<div class="mt-4">
    <h3>Đổi Mật Khẩu</h3>
    <form method="POST" action="/updatePassword">
        <div class="form-row">
            <!-- Mật khẩu cũ -->
            <div class="form-group col-md-6">
                <label for="inputOldPassword">Mật khẩu cũ</label>
                <input type="password" class="form-control" id="inputOldPassword" name="oldPassword" placeholder="Nhập mật khẩu cũ" required>
            </div>
        </div>
        <div class="form-row">
            <!-- Mật khẩu mới -->
            <div class="form-group col-md-6">
                <label for="inputNewPassword">Mật khẩu mới</label>
                <input type="password" class="form-control" id="inputNewPassword" name="newPassword" placeholder="Nhập mật khẩu mới" required>
            </div>
        </div>
        <div class="form-row">
            <!-- Xác nhận mật khẩu mới -->
            <div class="form-group col-md-6">
                <label for="inputConfirmPassword">Xác nhận mật khẩu mới</label>
                <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu mới" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
    </form>
</div>
