<div class="card" style="width: 18rem;">
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fvienthammydiva.vn%2Fanh-gai-xinh-han-quoc-mac-do-thieu-vai%2F&psig=AOvVaw0exigP6FLZU5BvJwKrrGkg&ust=1729184078864000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNCZiOiuk4kDFQAAAAAdAAAAABAE" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>