<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng ký hoặc Đăng nhập</title>
  
</head>
<body>
  <div class="card">
    <h2>Bạn chọn đăng ký hoặc đăng nhập</h2>
    <a href="/register" class="btn btn-register">Đăng ký</a>
    <a href="/login" class="btn btn-login">Đăng nhập</a>
  </div>
</body>
</html>
